$bg: #EDF2F0;
$neu-1: #ebecf0;
// $neu-1: #ecf0f3;
$neu-2: #d1d9e6;
$white: #f9f9f9;
$gray: #a0a5a8;
$black: #181818;
$purple: #4B70E2;

$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;



$transition: 1.25s;

// *, *::after, *::before {
// 	margin: 0;
// 	padding: 0;
// 	box-sizing: border-box;
//     user-select: none;
// }



.title{
    font-size: 32px;
    font-weight: 700;
    line-height: 3;
    color: $black;
}





.switch{
    display: flex;
    justify-content: center;
    // align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 420px;
    width: 425px;

    padding: 20px;
    z-index: 200;
    transition: $transition;

    background-color: $neu-1;
    overflow: hidden;

    border-radius: 10px;

    overflow-y: scroll;

    scrollbar-width: none;
    -ms-overflow-style: none; 



    @media (max-width:480px) {
      left: 50%;
      transform: translate(-35%);
    }

}

.switch::-webkit-scrollbar {
  display: none;
}


    .circle{
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 50%;
		background-color: $neu-1;
		box-shadow:
			inset 8px 8px 12px $neu-2,
			inset -8px -8px 12px $white;

        bottom:-120%;
        left: -100%;
        transition: 1.25s;

        
    }

    .circleT{
        top: -30%;
        left: 60%;
        width: 300px;
        height: 300px;
    }

    

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        width: 400px;
        // padding: 50px 55px;

        transition: 1.25s ;

    }


    .button {
        color:#61677C;
        font-weight: bold;
        box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        font-weight: 600;
        margin-top: 25px;
        padding: 12px;
        letter-spacing: 1px;
        
        &:hover {
          box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
          
        }
        
        &:active {
          box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
          
        }
        
        &.color {
          display: block;
          width: 60%;
          color:#183875;
      
          @media (max-width:480px) {
            width: 50%;
            margin: 0px auto;
          }
        }
      }

